body {
    margin: 0%;
    padding: 0%;
}

section {
    background-image: linear-gradient(white,rgb(33,57,99));
}

#logo {
    height: 100px;
}

.outer-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left:5px;
    padding-right:5px;
  }

  .inner-left-flex-container {
    display: inline-flex;
    align-items: center;
    width: 340px;
    justify-content: space-around;
  }

  .inner-center-flex-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
  }

  .inner-right-flex-container {
    display: inline-flex;
    align-items: center;
    width: 340px;
    justify-content: space-around;
  }

.inner-left-flex-container > * {
    font-size: 1.2rem;
    font-weight: 100;
}

.navbar-logo {
    width:100px;
    height:100px;
    margin:0;
    padding:0;
}

.navbar-left, .navbar-left:visited, .navbar-left:hover, .navbar-left:active {
    text-decoration: none;
    color: inherit;
}

.navbar-right-fb {
    width: 60px;
    height: 60px;
}

.navbar-right-li {
    width: 60px;
    height: 60px;
}

.navbar-right-in {
    width: 45px;
    height: 45px;
}

.navbar-right-wa {
    width: 48px;
    height: 48px;
}

.navbar-right-pp {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.main-title {
    text-align: center;
    padding-top: 20px;
    font-size: 2.5rem;
}

.main-bio {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    font-size: 1.2rem;
    text-align: justify;
}

.title-images-container {
    display: flex;
    justify-content: center;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.hcpc-image {
    position:relative;
    top:50%;
    transform:translateY(-50%);
    width:100%;
}

.logo-image {
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
}

.csp-image {
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:50%;
}

.profile-image {
    float: left;
    width: 25%;
    height: auto;
    margin-right: 1.5%;
    border: 5px solid black;
}

.carousel-item-content {
    padding-top:10px;
    padding-bottom:10px;
    width:65%;
    text-align:center;
    margin:auto;
    line-height:2rem;
    color:beige;
}

.carousel-client-name {
    margin:auto;
    color:white;
    text-align:center;
}

.carousel-item {
    height: 250px;
}

.social-links {
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    color: black;
}

footer > img {
    height: 40px;
    width: auto;
    position: relative;
    top: -5px;
}

footer > a {
    color: black;
}

.da {
    font-size: 1.5rem;
    color: black;
}

.services-header {
    border: none;
}

.services-title-image {
    width: 100%;
}

.services-logo-image {
    width: 30%;
    display: block;
    border: 5px solid gray;
    margin: -15% auto 0;
    position: relative;
}



















/* img {
    margin: auto;
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 0%;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

p {
    text-align: justify;
}

a {
    font-size: 0.8rem;
    display: block;
    text-align: center;
    color: black;
    margin-bottom: 0.5rem;
}
  
.training-content, .testimonial-content {
    text-align: justify;
    width: 70%;
    margin: auto;
    font-size: 1.5em;
}

.services-section {
    margin: 0 auto;
    width: 70%;
    margin-bottom: -2%;
}

.services-content {
    font-size: 1.5em;
}

.csp {
    width: 10%;
    height: auto;
    position: absolute;
    right: 2%;
    
}

.hcpc {
    width: 20%;
    height: auto;
    position: absolute;
    left: 2%;
}

.profile-image {
    float: left;
    width: 25%;
    height: auto;
    margin-right: 1.5%;
    padding: 0%;
}

.container {
    border-radius: 5px;
    background-color: teal;
    padding: 20px;
    width: 56%;
    margin: auto;
    font-size: 28px;
    color: blue;
}

label {
    font-size: 1.1em;
    color: white;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    height: 200px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    margin-top: 28px;
    height: 80px;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

footer {
    text-align: -webkit-center;
    padding: 1.25%;
  }
  
.logo-image {
    width: 20%;
    height: auto;
    position: relative;
    top: -50px;
    display: flex;
    justify-content: center;
    border-style: solid;
}

footer, a {
    font-size: 1.1rem;
    text-decoration: none;
} */