/* 
    All pages
*/

body {
    margin: 0%;
    padding: 0%;
}

section {
    background-image: linear-gradient(white,rgb(33,57,99));
}

.outer-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 150px;
    justify-content: space-between;
    align-items: center;
    padding-left:5px;
    padding-right:5px;
    /* border: 1px solid blue; */
  }

  .inner-left-flex-container {
    display: inline-flex;
    align-items: center;
    width: 450px;
    justify-content: space-around;
    /* border: 1px solid red; */
  }

  .inner-right-flex-container {
    display: inline-flex;
    align-items: center;
    width: 450px;
    justify-content: space-around;
    /* border: 1px solid green; */
  }

  .inner-right-flex-container img {
    width: 60px;
    height: 60px;
  }

  .navbar-right-pp {
    border-radius: 30px;
}

.inner-left-flex-container a {
    font-size: 1.2rem;
    font-weight: 100;
}

.navbar-logo {
    width:150px;
    height:150px;
    margin:0;
    padding:0;
}

.navbar-left, .navbar-left:visited, .navbar-left:hover, .navbar-left:active {
    text-decoration: none;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
}

.sm-container, .em-container, .pp-container, .da-container {
    text-align: center;
    font-size: 2.2rem;
    padding: 10px;
    color: beige;
}

.sm-container img {
    height: 40px;
    width: auto;
    position: relative;
    top: -3.5px;
}

.em-container img {
    height: 40px;
    width: auto;
    position: relative;
    top: -3.5px;
}

footer a {
    color: beige;
}

/*
    About page
*/

.main-title {
    text-align: center;
    padding-top: 20px;
    font-size: 2.5rem;
}

.main-bio {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    font-size: 1.2rem;
    text-align: justify;
}

.title-images-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    align-items: center;
}

.hcpc-image {
    width:100%;
}

.csp-image {
    width:50%;
}

.profile-image {
    float: left;
    width: 25%;
    height: auto;
    margin-right: 1.5%;
    border: 5px solid black;
}

.carousel-item-content {
    padding-top:10px;
    padding-bottom:10px;
    width:65%;
    text-align:center;
    margin:auto;
    line-height:2.3rem;
    color:beige;
    font-size: 2.0rem;
}

.carousel-client-name {
    margin:auto;
    color:beige;
    text-align:center;
}

h5 {
    font-size: 2.0rem;
}

.carousel-item {
    height: 340px;
}

.social-links {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: auto;
}

.social-links img {
    padding-left: 25px;
    padding-right: 25px;
}

/*
    Services page
*/

.services-title-image {
    width: 100%;
    margin-bottom: 100px;
}

.services-container {
    width: 75%;
    margin: auto;
    padding: 20px;
    background-color: rgb(32, 56, 100);
    border-radius: 25px;
}

.services-title {
    text-align: center;
    color: beige;
}

.services-explainer {
    color: beige;
    text-align: center;
}

.physio-container, .locations-container, .pricing-container, .extras-container {
    width: 55%;
    margin: auto;
    color: beige;
}

.services-intro, .locations-intro, .pricing-intro, .extras-intro {
    text-align: justify;
    color: beige;
    line-height: 2.1rem;
    font-size: 1.5rem;
    width: 85%;
    margin: auto;
}

li {
    line-height: 1.8rem;
    font-size: 1.4rem;
    padding-top: 0.55rem;
}

/*
    Contact Us page
*/

.contact-us-title-image {
    width: 100%;
    margin-bottom: 50px;
}

.contactus-title {
    text-align: center;
    color: black;
}

.contactus-container {
    width: 75%;
    margin: auto;
    padding: 20px;
    color: black;
}

.contactus-intro {
    text-align: justify;
    color: black;
    line-height: 2.8rem;
    font-size: 2.0rem;
    width: 100%;
    margin: auto;
}

.form-container {
    border-radius: 5px;
    background-color: rgb(133,133,133);
    padding: 20px;
    width: 100%;
    margin: auto;
    font-size: 28px;
    color: wheat;
}

@media only screen and (max-width: 1180px) {
    .contactus-container {
        width: 85%;
    }
}

.direct-contact {
    text-align: justify;
    color: beige;
    line-height: 2.8rem;
    font-size: 2.0rem;
    width: 85%;
    margin: auto;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    height: 200px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
  /* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgb(32, 56, 100);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    margin-top: 28px;
    height: 80px;
}
